<!DOCTYPE html>
<html>
  <head>
    <title><%= big_title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= big_title %></h1>
    <p>Welcome to <%= title %></p>
    <pre id="json"><%= data %></pre>
  </body>
</html>
